<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <center> <p>
<strong>Proyecto Puesta en Producción Segura</strong>                 
                </p> </center>
                </div>
            </div>
        </footer>

    </div>