 <div class="thumbnail">
    <!--
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                -->
                <div class="caption-full">
                    <h4><a href="#">Aplicación Web Vulnerable</a></h4>
                    <center><img src="img/xvwa-logo.png"></center>
                    <p align="justify">
                        Lista de vulnerabilidades:. 
                        <ul>
                            <li>SQL Injection – Error Based</li> 
                            <li>SQL Injection – Blind</li> 
                            <li>OS Command Injection</li> 
                            <li>XPATH Injection </li> 
                            <li>Formula Injection </li> 
                            <li>PHP Object Injection </li> 
                            <li>Unrestricted File Upload</li> 
                            <li>Reflected Cross Site Scripting</li>  
                            <li>Stored Cross Site Scripting </li> 
                            <li>DOM Based Cross Site Scripting </li> 
                            <li>Server Side Request Forgery / Cross Site Port Attacks(CSRF/XSPA)</li>  
                            <li>File Inclusion </li> 
                            <li>Session Issues </li> 
                            <li>Insecure Direct Object Reference </li> 
                            <li>Missing Functional Level Access Control</li>  
                            <li>Cross Site Request Forgery (CSRF)</li> 
                            <li>Cryptography </li> 
                            <li>Unvalidated Redirect & Forwards</li> 
                            <li>Server Side Template Injection</li> 
                        </ul>
                    </p>
                    <p>
                        Good Luck and Happy Hacking!
                    </p><br>
                    </div>

                </div>
