 <div class="thumbnail">
    <!--
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                -->
                <div class="caption-full">
                    <h4><a href="#">Aplicación Web Vulnerable - Instrucciones</a></h4>

                    <p align="justify">
                       El laboratorio se puede configurar tanto en Windows, Linux o Mac. Los siguientes pasos muestran como configurar tu entorno Apache-PHP-MYSQL o XAMPP. 
                    </p>
                    <p align="justify">
                        Copie la carpeta xvwa en su directorio web. Asegúrese de que el nombre del directorio sigue siendo el mismo xvwa. Haga los cambios necesarios en xvwa/config.php para la conexión a la base de datos. Ejemplo: <br><br>
                        <code>
                            $XVWA_WEBROOT = ''; <br>
                            $host = "localhost"; <br>
                            $dbname = 'xvwa'; <br> 
                            $user = 'root'; <br> 
                            $pass = 'root'; 
                        </code><br><br>
                        Realice los siguientes cambios en el archivo de configuración de PHP. <br><br>
                        <code>
                            file_uploads = on  <br>
                            allow_url_fopen = on <br>
                            allow_url_include = on 
                        </code>    
                    </p>
                    <p align="justify">
                       Acceso a la aplicación: http://localhost/xvwa/<br>
                        Configurar la base de datos: http://localhost/xvwa/setup/ <br>
                    </p>
                    <p align="justify">
                        Detalles de login: <br><br>
                        <code>
                        admin:admin <br>
                        xvwa:xvwa <br>
                        user:vulnerable 
                    </code>
                    </p>

                    

                    </div>

                </div>